<h1>New Art</h1>
<form action='/gallery/' method='POST'>
  <input type="text" name="author" placeholder="Author name"><br>
  <input type="text" name="link" placeholder="Link"><br>
  <input type="text" name="description" placeholder="Description"><br>
  <input type="submit" value="Submit">
</form>