<h1>New Art</h1>
{{!-- <form stlye = 'display:inline' action='/gallery/{{id}}?_method=PUT' method='POST'>
=======
<form action='/gallery/' method='POST'>
>>>>>>> adca124aa14c3c4b4531cda005f665b034d3720b
  <input type="text" name="Author name" placeholder="Author name">
  <input type="text" name="Link" placeholder="Link">
  <input type="text" name="Description" placeholder="Description">
  <div></div> --}}