<div class="head_buttons">
  <form>
      <button type="submit" formmethod="get" formaction="/gallery/" name="gallery">View Gallery</button>
    <button type="submit" formmethod="get" formaction="/gallery/new" name="new_photo">Add Photo</button>
    <button type="submit" formmethod="get" formaction="/logout" name="logout">Logout</button>
  </form>
</div>